main {
    // padding: 40px 0px;

    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 28px;
        font-weight: 700;

        #highlight {
            color: #0D41E1;
        }

        @media screen and (min-width:768px) {
            font-size: 48px;
        }

    }

    .cta {
        .buttons {
            display: flex;
            justify-content: flex-start;
            margin-top: 46px;
            margin-bottom: 18px;
            gap: 16px;

            a.button {
                font-size: 18px;

                margin: 0px;
            }

            @media screen and (min-width:768px) {
                margin-top: 18px;

            }

        }



        .socials {
            display: flex;
            gap: 12px;
        }

    }

    @media screen and (min-width:768px) {
        padding-top: 80px;
        height: auto;
    }
}