section#skills {

    #skills-card-grid {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;


        .skills-card {
            display: flex;
            flex-direction: column;
            gap: 18px;

            .skills-list {
                display: flex;
                gap: 20px;

                .skill {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                }
            }
        }


        // Bigg screen
        @media screen and (min-width:2400px) {
            .skills-card {
                .skills-list {
                    .skill {
                        padding: 20px;
                        gap: 30px;
                        font-size: 20px;

                        svg {
                            scale: 2;

                        }
                    }
                }
            }
        }
    }

}