header {

    box-sizing: border-box;
    z-index: 9;
    position: sticky;
    top: 0;
    width: 100%;

    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0B0C15;

    .sidebar-wrapper {
        position: absolute;
        top: 0;
        left: -20px; // -20px to compensate for padding in App
        width: 100vw;
        z-index: 10;

        height: 120vh;

        background-color: rgba($color: #000000, $alpha: 0.75);
        display: flex;
        justify-content: flex-end;

        .sidebar {


            width: calc(100vw - 64px);
            max-width: 380px;


            display: flex;
            flex-direction: column;




            background-color: #161C21;

            padding: 12px;

            height: 100%;



            #sidebar-top {
                width: 100%;
            }

            .sidebar-content {
                margin-top: 64px;

                display: flex;
                flex-direction: column;

                gap: 10px;



                // animation: sidebar_entry_anim 300ms ease-in;


            }
        }

    }


    nav {
        display: flex;

        font-size: 20px;

    }

    .nav-link {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            width: 60%;
            height: 100%;
            text-align: center;
        }
    }

}