header {

    box-sizing: border-box;
    z-index: 9;
    position: sticky;
    top: 0;
    width: 100%;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0B0C15;

    .sidebar-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        // left: -20px; // -20px to compensate for padding in App
        width: 100vw;
        z-index: 10;

        height: 120vh;

        background-color: rgba($color: #000000, $alpha: 0.75);
        display: flex;
        justify-content: flex-end;

        .sidebar {


            width: calc(100vw - 64px);
            max-width: 380px;


            display: flex;
            flex-direction: column;




            background-color: #161C21;

            padding: 12px;

            height: 100%;



            #sidebar-top {
                width: 100%;
            }

            .sidebar-content {
                margin-top: 64px;

                display: flex;
                flex-direction: column;

                gap: 10px;



                // animation: sidebar_entry_anim 300ms ease-in;


            }
        }

    }


    nav {
        display: flex;
        flex-direction: column;

        font-size: 20px;


        .nav-link {
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            width: 100%;

            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }
    }

    // Desktop + big screen tablets only
    @media screen and (min-width:768px) {
        padding: 30px calc((100vw - 950px)/ 2);

        nav {
            flex-direction: row;
        }
    }
}